browser-cookie3==0.20.1
google-auth==2.57.0
google-genai==2.20.0
instaloader==4.15.3
praw==8.0.3
python-dotenv==1.2.3
python-telegram-bot==22.8
requests==2.34.2
selenium==4.48.0
undetected-chromedriver==3.5.5
youtube-transcript-api==1.2.4
yt-dlp==2026.8.19
